:root {
    --primary: #0171db;
  }
  
  .btn {
    padding: 6px 24px;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background-color: var(--primary);
  }
  
  .btn:hover {
    padding: 6px 24px;
    transition: all 0.3s ease-out;
    background-color: #fff;
    color: var(--primary);
    border-radius: 20px;
    transition: all 0.3s ease-out;
  }
  