.dropdown-menu {
    /* background: red; */
    width: 160px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
  }
  
  .dropdown-menu li {
    background: #fff;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background: #0171db;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #8DBD38;
    padding: 16px;
  }

  .dropdown-link:hover{
    color: #fff;
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }
  